<!DOCTYPE html>
<html>

<%- include('partials/head.ejs', { title: "Home" }); -%>

<body>
    <h1 class="alignCentre">HOME</h1>

    <%- include('partials/nav.ejs', { username: username }); -%>

    <div>Random cat breed: <%= randBreed.breed %></div>
    <img src="<%= randBreed.image %>" />
    <% for(const key in randBreed) { %>
    <div><%= key %>: <%= randBreed[key] %></div>
    <% } %>
    <div>Random cat fact: <%= randFact.fact %></div>
</body>
</html>